.banner {
  background: $primary;
  height: 100px;
  position: relative;

  @include mq-up($screen-sm) {
    height: 150px;
  }

  @include mq-up($screen-md) {
    height: 200px;
  }

  @include mq-up($screen-lg) {
    height: 250px;
  }
}

#lights {
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#horizon {
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -160px;
  pointer-events: none;
  position: absolute;
  width: 320px;
  z-index: 2;

  @include mq-up($screen-sm) {
    margin-left: -250px;
    width: 500px;
  }

  @include mq-up($screen-md) {
    margin-left: -320px;
    width: 640px;
  }

  @include mq-up($screen-lg) {
    margin-left: -400px;
    width: 800px;
  }
}

#brand {
  bottom: 0;
  color: $white;
  font-size: calc(100vw / 7.65);
  font-weight: $wx;
  left: 0;
  letter-spacing: -.08em;
  line-height: .755em;
  margin: 0;
  opacity: .075;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-indent: -.09em;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  z-index: 3;

  &:hover,
  &:focus {
    color: $white;
  }
}
