.colophon {
  padding: $h;

  hr {
    margin-top: 0;
  }

  p {
    color: $medium;
    margin: 0;
    text-align: center;

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }
}

// Follow
.twitter-follow-button {
  margin-left: 1em;
}

.twitter-follow-button-rendered {
  vertical-align: middle;
}
