.colophon {
  padding: $h;

  hr {
    margin-top: 0;
  }

  .menu {
    display: flex;
    justify-content: center;

    a {
      display: block;

      + a {
        margin-left: 1.25em;
      }
    }
  }

  .copy {
    color: $medium;
    margin: $h 0 0;
    text-align: center;

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }
}
