.main {
  padding: $h;

  @include mq-up($screen-sm) {
    padding: $hh $h;
  }

  @include mq-up($screen-md) {
    padding: $hh*2 0;
  }
}

.container {
  margin: auto;

  @include mq-up($screen-md) {
    max-width: $container-md;
  }

  @include mq-up($screen-lg) {
    max-width: $container-lg;
  }
}
