figure {
  margin: 0;
}

img,
canvas {
  max-width: 100%;
}

.video-container {
  height: 0;
  margin-bottom: 1.5em;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
