<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} / Kyle Schaeffer</title>
  <link rel="stylesheet" href="{{ site.baseurl }}{% link sass/blog.scss %}">
</head>
<body>
  <header class="banner" role="banner">
    <canvas id="lights" width="400" height="100"></canvas>
    <a class="brand" href="{{ site.baseurl }}{% link index.md %}">Kyle Schaeffer</a>
    <span class="tagline">Enterprise App Design and Development</span>
  </header>
  <main class="main" role="main">
    {{ content }}
  </main>
  <footer class="colophon" role="contentinfo">
    <div class="container">
      <hr>
      <nav class="menu" role="navigation">
        <a href="{{ site.baseurl }}{% link index.md %}">Home</a>
        <a href="{{ site.baseurl }}{% link about.md %}">About</a>
      </nav>
      <p class="copy">&copy; Kyle Schaeffer</p>
    </div>
  </footer>
  <script defer src="{{ site.baseurl }}{% link js/lights.js %}"></script>
</body>
</html>
