<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} / Kyle Schaeffer</title>
  <link rel="stylesheet" href="{% link sass/blog.scss %}">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5789165-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-5789165-1');
  </script>
</head>
<body>
  <header class="banner" role="banner">
    <h2 id="brand">Kyle Schaeffer</h2>
    <nav class="menu" role="navigation">
      {% assign current = page.url | downcase | split: '/' %}
      <a href="{% link index.html %}"{% if current[1] != 'courses' and current[1] != 'about' %} class="current"{% endif %}>Blog</a>
      <a href="{% link courses.md %}"{% if current[1] == 'courses' %} class="current"{% endif %}>Courses</a>
      <a href="{% link about.md %}"{% if current[1] == 'about' %} class="current"{% endif %}>About</a>
    </nav>
    <canvas id="lights" width="400" height="100"></canvas>
    <img id="horizon" src="{% link assets/img/horizon.svg %}" alt="Horizon illustration">
  </header>
  <main class="main" role="main">
    {{ content }}
  </main>
  <footer class="colophon" role="contentinfo">
    <div class="container">
      <hr>
      <p>&copy; Kyle Schaeffer <a href="https://twitter.com/kyleschaeffer?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @kyleschaeffer</a></p>
    </div>
  </footer>
  <script defer src="{% link js/lights.js %}"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
