<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} / Kyle Schaeffer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="lights" role="banner">
    <canvas id="lights" width="400" height="100"></canvas>
    <a class="brand" href="/">

    </a>
    <nav role="navigation">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </header>
  <main role="main">
    {{ content }}
  </main>
  <footer role="contentinfo">
    &copy; Kyle Schaeffer
  </footer>
</body>
</html>
